.arrengementDetails {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 0.6em;
  border-top: rgb(223, 223, 223) 1.5px dashed;
  padding-top: 0.6em;
  padding-bottom: 0.3em;
  padding-left: 0.6em;
}
  
.arrengementDetails img {
  width: 20px;
  height: 20px;
}
.arrengementText {
  text-align: left;
}
.arrengementText p {
  padding: 0px;
}
.arrengementText hr {
  width: 100%;
  margin-bottom: 20px;
}

.arrengementContainer {
  flex-direction: column;
  margin: 0em 1.5em 0em 1.5em;
  padding: 1em;
}
.arrengementContainer hr {
  width: 20%;
  background: grey;
  height: 0.1em;
  margin-bottom: 20px;
  margin-top: 1em;
}
.arrengementContainer h5 {
    font-size: 1em;
  }
  .arrengementContainer h6 {
    font-weight: 400;
    font-size: 0.9em;;
    margin: 0em 1em;
    letter-spacing: 0.8px;
  }
.you-owe{
color: rgba(163, 10, 10, 0.616);
font-weight: 600;
}
.you-owed{
    color: rgba(0, 128, 0, 0.507);
    font-weight: 600;

}