a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}
.group-list-item img{
    width: 55px;
    height: 55px;
    border-radius: 50%;

}
.group-list-item {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  text-align: left;
  margin: 0em 1em 0.2em 1em;
  padding: 0.5em 0em;
  border-top: rgb(223, 223, 223) 1.5px solid;
  transition-duration: 0.5s}

 
.group-list-image {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0em;
  width: 100%;
}
.group-list-text{
    display: flex;
    flex-direction: column;
    margin-left: 1.5em;
}
.group-list-text{
    display: inline;
    font-size: 0.8em;
}
.group-list-item span{
    letter-spacing: 0.6px;
}

.group-list-text h6{
    font-size: 1.4em;
}
.groups-details-button{
align-items: space-around;
}
.group-icon-name{
  flex-direction: row;
  display: flex;
  align-items: center;
  margin-left: 1em;
}
.view-group{
  width: 30%;
  display: flex;
  justify-content: flex-end;
  height: 100%;
}
.view-group:hover{
 color: #2c4f90;
 font-weight: 600;
 letter-spacing: 4px;
}
.view-group p:hover{
  
  letter-spacing: 2px;
 }
.view-group p{
  font-size: 0.6em;
  width: 100%;
  letter-spacing: 1px;
}