.navbar{
    position: fixed;
    bottom: 0; 
    width: 100%; 
    display: flex;
    flex-direction: column;
    padding: 0.5em 1.5em 0.5em 1.5em;
    border-top: 1.5px solid rgb(236, 236, 236);
    background-color: white;
    margin-top: 2em
}

.navbar ul{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    align-items: center;
    padding: 0.2em 1.5em 0.2em 1.5em;

}
.navbar li{
   list-style: none;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.navbar img{
    width: 25px;
    margin-bottom: 0.4em
}
.navbar a{
    text-decoration: none;
    color: black;
    font-size: 0.7em;
}